body{
    background: #000;
}

h2{
    color: #ffffff;
}

h3{
    color: #ffffff;
}

h4{
    color: #ffffff;
}

p{
    color: #ffffff;
}

a{
    color: #ffffff;
}

nav{
    background: #000;
    box-shadow: -3px -3px 7px #fff,
                -3px -3px 10px #fff;
}

.menu .logo h1{
    color: #fff;
}

.menu ul a{
    color: #fff;
}

.menu ul a:hover:before{
    box-shadow: none;
}

.fa-moon{
    color: #fff;
}

.fa-bars{
    color: #fff;
}

.fa-times{
    color: #fff;
}

#artcl-prjt{
    background-color: #000;
    border: solid 2px #fff;
}

#cv h2{
    color: #fff;
}

#cv h3{
    color: #fff;
}

.cv-ul-li{
    color: #fff;
}

.lien-ctc{
    color: #fff;
}



@media (max-width:800px){

    .menu ul {
        background: #000;
    }

    h1{
        color: #fff;
    }
}

/*------------------ End ---------------------*/